*{margin:0px;padding:0px;}
html,body{width:100%;height: 100%;}
body{
	font-size: 12px;
	background: #fff;
    font-family:  Tahoma, Arial, Helvetica, STHeiti;
    color:#333;
}

table {border-collapse:collapse;border-spacing:0;width: 100%;}
th,td{padding: 10px;color: #a3c07d;}

.txt{
  padding:8px 5px;
  background:#eff8e3;
  border:2px solid #a3c07d;
  width:250px;
  outline: none;
}

.nav{
    margin:30px 20px 0px 20px;color:#333;font-size:14px;clear:both;
    text-shadow:1px 1px 0px #eee;
}

#nav{
    position: relative;
    width:100%;
    height:40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #a3c07d;
    background: #333;
    border-bottom: 3px solid #a3c07d;
    -moz-box-shadow:0px 0px 8px #111; 
	-webkit-box-shadow:0px 0px 8px #111;
	box-shadow:0px 0px 8px #111;
}

#nav .logo{
    background:url(../img/logo.png) left center no-repeat;
    text-indent: 36px;
    margin-left: 15px;
    text-shadow:1px 1px 0px #000;
}

.btn{
    display: block;
    float:left;
    line-height: 30px;
    text-align: center;
    background: #a3c07d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    text-shadow:1px 1px 0px #eee;
    padding: 0px 10px;
    font-family:"Microsoft Yahei", "微软雅黑";
    -moz-box-shadow:0px 0px 5px #222; 
    -webkit-box-shadow:0px 0px 5px #222;
    box-shadow:0px 0px 5px #222;
}

.btnRed{
    display: block;
    float:left;
    line-height: 30px;
    text-align: center;
    background: #f25959;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    text-shadow:1px 1px 0px #ccc;
    padding: 0px 10px;
    font-family:"Microsoft Yahei", "微软雅黑";
    -moz-box-shadow:0px 0px 5px #222; 
    -webkit-box-shadow:0px 0px 5px #222;
    box-shadow:0px 0px 5px #222;
}

#rooms{
   
}

.rooms li{
    position: relative;
	cursor:pointer;
    display:block;
    float: left;
    width:200px;
    height:64px;
    padding: 5px 10px;
    background: #eff8e3;
    margin: 15px;
    font-size: 14px;
    -moz-box-shadow:0px 0px 3px #666; 
	-webkit-box-shadow:0px 0px 3px #666;
	box-shadow:0px 0px 3px #666;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-top: 3px solid #a3c07d;
    text-shadow: 0 1px 0 #fff;
}

.rooms li span{
    display:block;
    position: absolute;
    bottom: 5px;
    left:10px;
    font-size: 10px;
    color:#A3C07D;
    font-family: arial;
    text-shadow: none;
}


#room_title{
    position: absolute;
    right:0px;
    left:0px;
    top:0px;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    font-size: 16px;
    background: #444;
    color: #fff;
}

.box{
    border-radius: 3px;
    -moz-box-shadow:0px 0px 8px #000; 
    -webkit-box-shadow:0px 0px 8px #000;
    box-shadow:0px 0px 8px #000;
    font-size: 14px;
    font-family: arial;
    color: #a3c07d;
    background: #333;
    border-top: 4px solid #a3c07d;
    border-bottom: 2px solid #a3c07d;
}

.box table{margin:10px;}

.box .title{
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-family:"Microsoft Yahei", "微软雅黑";
    font-size:16px;
    background: #a3c07d;
    position: relative;
    top:-3px;
    margin: 0px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
    color: #333;
}

#logs{
	position: absolute;
	right:0px;
	left:0px;
	bottom:100px;
	top:40px;
	background: #ffffff;
    border-top: 3px solid #a3c07d;
	-moz-box-shadow:0px 0px 8px #111; 
	-webkit-box-shadow:0px 0px 8px #111;
	box-shadow:0px 0px 8px #111;
    overflow: auto;
}

#logs #list{
	margin: 10px;
	font-size: 12px;
}

.msg{
    margin:20px 10px 0px 10px;
    position: relative;
    clear: both;
}
.msg_msg{
    clear: both;
    padding-top:10px;display:block;color:#333;font-family: arial;font-size: 14px;
    text-indent: 2em;
}
.msg_user{
    clear: both;
    display:block;
    font-size:14px;
    background: #daefec;
    position: relative;
    top:0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 5px;
    float: left;
}

.msg_date{
   font-size: 11px;font-family: arial;color: #666;
   margin-left: 20px;
}

#chatbox{
	position: fixed;
	right:0px;
	left:0px;
	bottom:0px;
	height:100px;
	background: #444;
}

#chatbox textarea{
	width:100%;
	background: none;
	border:none;
	height:80px;
	outline:none;
	color:#fff;
    font-size: 14px;
}

.send{
    display: block;
    width:80px;
    height:80px;
    position: absolute;
    right:10px;
    top: 10px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    background: #a3c07d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    text-shadow:1px 1px 0px #fff;
    -moz-box-shadow:0px 0px 5px #222; 
    -webkit-box-shadow:0px 0px 5px #222;
    box-shadow:0px 0px 5px #222;
    color: #000;
}