<div class="box createRoomForm" style="line-height:40px;">
    <div class="title">
        Join Room
    </div>
    <a href="javascript:;" onclick="closeSheetBox('center');" class="btnClose" style="position:absolute;right:5px;top:9px;">X</a>
    <input type="hidden" value="<%-room_id%>" id="room_id"/>
    <table>
       <tr>
         <td style="white-space:nowrap;">Your Name&nbsp;</td><td><input type="text" id="displayName" class="txt"/></td>
       </tr> 
       <tr>
         <td>Room Password&nbsp;</td><td><input type="password" id="roomPassword" class="txt"/></td>
       </tr> 
       <tr>
         <td></td>
         <td>
             <p class="tip">Note: password is not required for public rooms.</p>
         </td>
       </tr>  
       <tr>
         <td></td>
         <td>
           <a href="javascript:;" class="btn" onclick="onJoinRoom();">Join Room</a>
           <a href="javascript:;" style="margin-left: 10px;" class="btnRed" onclick="closeSheetBox('center');">Cancel</a>
         </td>
       </tr>  
    </table>
</div>