<div class="box createRoomForm" style="line-height:40px;">
    <div class="title">
        Create Room
    </div>
    <table>
       <tr>
         <td style="white-space:nowrap;">Room Name&nbsp;</td><td><input type="text" id="roomName" class="txt"/></td>
       </tr> 
       <tr>
         <td>Password&nbsp;</td><td><input type="password" id="roomPassword" class="txt"/></td>
       </tr> 
       <tr>
         <td>Confirm Password&nbsp;</td><td><input type="password" id="confirmPassword" class="txt"/></td>
       </tr>
       <tr>
         <td></td>
         <td>
             <p style="font-family:arial;font-size:12px;color:#f8da99;">Note: password is not required for public rooms.</p>
         </td>
       </tr>  
       <tr>
         <td></td>
         <td>
           <a href="javascript:;" class="btn" onclick="onCreateRoom();">Create Room</a>
           <a href="javascript:;" style="margin-left: 10px;" class="btnRed" onclick="closeSheetBox('center');">Cancel</a>
         </td>
       </tr>  
    </table>
</div>