<div id="nav">
  <div class="logo">ChatLog</div>
  <a href="javascript:;" onclick="createRoom();" class="btn" style="position:absolute;right:20px;top:5px;">Create a new room</a>
</div>  
<div class="nav">Public rooms</div>
<ul class="rooms" id="public_rooms">

</ul>
<div class="nav">Private rooms</div>
<ul class="rooms" id="private_rooms">
  
</ul>
<script type="text/javascript">
var socket;
$(function(){
  $(".rooms li").live("mouseenter",function(){
    $(this).animate({backgroundColor:"#a3c07d",color:"#000"},300);
  }).live("mouseleave",function(){
    $(this).animate({backgroundColor:"#333",color:"#fff"},300);
  }).live("click",function(){
    joinRoom($(this).attr("room_id"));
  });

  socket = io.connect('http://localhost:8900');
  socket.on('connect', function () {
    socket.on('rooms', function (rooms) {
        $(".rooms").html('');
        for(var i in rooms){
            if(rooms[i].password=='')
                $("#public_rooms").append("<li room_id='"+i+"''>"+rooms[i].name+"<span>Created: "+rooms[i].created+"</span></li>");
            else
                $("#private_rooms").append("<li room_id='"+i+"''>"+rooms[i].name+"<span>Created: "+rooms[i].created+"</span></li>"); 
        }
    });
  });
});

function createRoom(){
  loading();
  $.sheetbox('/page/create_room','',{layout:'center',height:300,width:460,speed:300,modal: true,
    onShow:function(){
      hideLoading();
      $("#roomName").focus();
    }
  });
} 

function onCreateRoom(){
	if($("#roomName").val()==""){
		noty({layout:'top',timeout: 1000,force: true, text: 'Room name can not be empty!', type: 'error'});
		$("#roomName").focus();
		return;
	}

  if($("#roomPassword").val()!= $("#confirmPassword").val()){
    noty({layout:'top',timeout: 1000,force: true, text: 'Please input the same password!', type: 'error'});
    $("#confirmPassword").focus();
    return;
  }
    
    //var id = hex_md5($("#roomName").val()+new Date().getTime();
	socket.emit('createRoom',{name:$("#roomName").val(),password:$("#roomPassword").val()}); 
	$.sheetbox.close("center");
}

function joinRoom(room_id){
  loading();
  $.sheetbox('/page/join_room?room_id='+room_id,'',{layout:'center',height:250,width:450,speed:300,modal: true,
    onShow:function(){
      hideLoading();
      $("#displayName").focus();
    }
  });
} 

function onJoinRoom(){
	if($("#displayName").val()==""){
		noty({layout:'top',timeout: 1000,force: true, text: 'Your name can not be empty!', type: 'error'});
		$("#displayName").focus();
		return;
	}

	window.open(encodeURI("/page/room?displayname="+$("#displayName").val()+"&signature="+hex_md5($("#displayName").val()+$("#roomPassword").val()+$("#room_id").val())+"&room_id="+$("#room_id").val()));
	$.sheetbox.close("center");
}

function closeSheetBox(layout){
  $.sheetbox.close(layout);
}
</script>