<div id="room_title">
</div>

<div id="chatbox">
  <div style="margin:10px;margin-right:100px;">
  <textarea id="content"></textarea>
  </div>

  <a href="javascript:;" id="send" onclick="send();" class="send">Send</a>
</div>

<div id="logs">
  <div id="list">
  </div>
</div>

<input type="hidden" value="<%-room_id%>" id="room_id"/>
<input type="hidden" value="<%-displayname%>" id="displayname"/>
<input type="hidden" value="<%-signature%>" id="signature"/>

<script type="text/javascript">
var socket;
$(function(){
  setEnterKey("#content","#send");
  $("#content").focus();

  socket = io.connect('http://localhost:8900');
  socket.on('connect', function () {
    socket.on('users', function (users) {
        $("#users").html('');
        for(var i in rooms){
            $("#users").append("<li user_id='"+i+"''>"+users[i].name+"</li>");
        }
    });

    socket.on('joinRoom', function(res) {
        if(res.status == 1){
          noty({layout:'center',timeout: 1000,force: true, text: 'Joined!', type: 'success'});
        }else{
          noty({layout:'center',timeout: 1000,force: true, text: res.msg, type: 'error'});
        }
    });

    socket.on('getRoom', function(room) {
        setRoom(room);
    });

    socket.on('newMessage', function(message) {
        appendMessage(message);
    });

  });

  joinRoom();
  getRoom();
});

function getRoom(){
   socket.emit("getRoom",$("#room_id").val());
}

function setRoom(room){
   $("#room_title").html(room.name);
}

function joinRoom(){
   socket.emit("joinRoom",$("#room_id").val(),$("#displayname").val(),$("#signature").val());
}

function send(){
    socket.emit("newMessage",{room_id:$("#room_id").val(),user:$("#displayname").val(),message:$("#content").val()});
    $("#content").val("");
}

function appendMessage(message){
    $("#list").append("<div class='msg'><span class='msg_user'>"+message.user+"<span class='msg_date'>"+message.date+"</span></span><span class='msg_msg'>"+message.message+"</span>");
    $("#logs").scrollTop(document.getElementById("logs").scrollHeight);
}

</script>