<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" ></link>
    <link rel='stylesheet' type="text/css" href='/css/jquery.noty.css'></link>
    <link rel='stylesheet' type="text/css" href='/css/noty_theme_default.css'></link>
    <link rel='stylesheet' type="text/css" href='/js/fancybox/jquery.fancybox.css'></link>
    <script type="text/javascript" src="/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="/js/client.socket.io.js"></script>
    <script type="text/javascript" src='/js/jquery.noty.js'></script>
    <script type="text/javascript" src='/js/fancybox/jquery.fancybox.pack.js'></script>
    <script type="text/javascript" src='/js/jquery.hashchange.js'></script>
    <script type="text/javascript" src='/js/jquery.sheetbox.js'></script>
    <script type="text/javascript" src='/js/common.js'></script>
    
    <title>ChatLog</title>
</head>
<body>
<%-body%>
</body>
</html>